/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-weight: 600;
  font-size: 48px;
}


h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 16px;
}

/* UTILITIES */
.container {
  width: 1350px;
  max-width: 100%;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.float {
  float: left;
  padding: 0 16px;
}

.w-25 {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-33 {
  width: calc(100% / 3);
}

.w-50 {
  width: 50%;
}

.w-70 {
  width: 70%;
}

.relative {
  position: relative;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* HEADER */
header {
  top: 0;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 1;
}

.navbar {
  width: 1070px;
  max-width: 100%;
  margin: 0 auto;
  line-height: 80px;
}

.img-logo {
  margin-top: 5px;
}

.navbar .fas.fa-bars {
  display: none;
}

.menu-nav {
  padding: 0;
  text-align: right;
  font-size: 80%;
}

.menu-nav li {
  list-style: none;
  display: inline-block;
}

.menu-nav li a {
  padding: 0 10px;
  text-transform: uppercase;
  color: #000;
}

.menu-nav li:nth-last-child(2) a{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}


/* JUMBOTRON */
#jumbotron {
  margin-top: 80px;
  height: 550px;
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

#jumbotron .wrapper {
  width: 700px;
}

#jumbotron h4 {
  font-weight: 400;
  padding: 25px 0 18px;
}


/* PRODOTTI */
#products {
  margin-top: 50px;
  margin-bottom: 50px;
}
#products .box {
  padding: 75px 75px 35px;
  text-align: center;
  background: #fafafa;
}

#products .box .cta {
  display: block;
  text-decoration: none;
  font-size: 18px;
  color: blue;
}

#products .box a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}
#products .box h2,
#products .box h4 {
  font-weight: 600;
}

#products .box h2 {
  margin-bottom: 21px;
}
#products .box h4 {
  margin-bottom: 24px;
}

#products .box img {
  max-width: 100%;
  width: 230px;
  margin-top: 21px;
}

/* HOW WORKS */
.how-works-bg {
  height: 400px;
  background-image: url('../img/helbiz-banner.jpg');
  background-size: cover;
  background-position: center;
}

#how-works img {
  max-width: 100%;
}

#how-works .contents {
  padding-bottom: 60px;
}

#how-works .col-sx,
#how-works .col-dx {
  padding-top: 120px;
}

#how-works .col-sx {
  text-align: right;
}

#how-works .col-sx h3 {
  width: 190px;
  display: inline-block;
  text-align: left;
}

#how-works .img-phone {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 380px;
}

/* SMART MOBILITY PART */
#smart-mobility {
  margin-bottom: 15px;
  background-image: url('../img/scooter-bg.jpg');
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1400px;
  height: 450px;
  max-width: 95%;
  text-align: center;
  padding: 10px;
}

#smart-mobility .col-dx {
  margin-left: 50%;
  color: #fff;
}

#smart-mobility .col-dx h2,
#smart-mobility .col-dx h4 {
  margin: auto;
}

/* DEBUG:  */

/* #smart-mobility .col-dx h2 {
  margin-top: 120px;
  width: 400px;
  font-weight: 600;
}

#smart-mobility .col-dx h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 380px;
  font-weight: 400;
  font-size: 18px;
} */


#smart-mobility .cta {
  padding: 15px;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}

#smart-mobility a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}


/* GET-FIND-ROW */
#get-find-row {
  margin-bottom: 50px;
  width: 1400px;
  max-width: 95%;
  margin: auto;
  color: #fff;
}

#get-find-row .col-sx {
  padding: 0 16px 0 0;
}

#get-find-row .col-dx {
  padding: 0 0 0 16px;
}

#get-find-row .box {
  height: 370px;
  text-align: center;
  padding-top: 50px;
  overflow: hidden;
}

#get-find-row .col-sx .box {
  position: relative;
  background: linear-gradient(#41566a,#252f38);
}

#get-find-row .col-sx .box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 85%;
  background-image: url('../img/helbiz-app.png');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}


#get-find-row .col-dx .box{
  background-image: url('../img/cities.jpg');
  background-size: cover;
}

#get-find-row h2 {
  font-weight: 600;
}

#get-find-row h4 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 400;
}

#get-find-row .cta {
  padding: 15px 5px;;
  text-decoration: none;
  font-size: 22px;
  color: #fff;
}

#get-find-row a::after {
  content: '\003e';
  display: inline-block;
  margin-left: 10px;
}

/* BIG BANNER */
#big-banner {
  position: relative;
  margin: 32px 0;
  height: 400px;
  background-image: url('../img/social-banner.jpg');
  background-size: cover;
}

#big-banner .position-center {
  background-color: #fff;
  padding: 65px 95px;
}

.social-row {
  margin-top: 5px;
  padding: 0 5px;
  height: 25px;
}

#big-banner .social-row a:not(:last-child) {
  padding-right: 30px;
}

/* FOOTER */
footer {
  background: black;
  padding-top: 60px;
  color: #fff;
}

.footer-row {
  width: 900px;
  max-width: 80%;
  padding-bottom: 25px;
}

/* main-footer */
#main-footer h4 {
  padding-bottom: 15px;
}

#main-footer li {
  list-style: none;
  line-height: 200%;
}

#main-footer a {
  color: grey;
  font-size: 15px;
}

/* footer: FOOT-SOCIAL-ROW */
#foot-social-row {
  width: 900px;
  max-width: 80%;
  padding: 20px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
}

#foot-social-row a {
  font-size: 12px;
}

#foot-social-row .social-row a {
  font-size: 18px;
}

#foot-social-row .social-row a:not(:last-child) {
  padding-right: 10px;
}

#foot-social-row .w-25:not(:first-child) {
  padding-top: 5px;
}

/* footer: FOOTER-APP*/
#footer-app {
  text-align: center;
  padding-bottom: 20px;
}

#footer-app a img {
  width: 100px;
}





/* RESPONSIVE */
@media screen and (min-width: 950px) {
  #smart-mobility .col-dx h2 {
    margin-top: 120px;
    width: 400px;
    font-weight: 600;
  }
  #smart-mobility .col-dx h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 380px;
    font-weight: 400;
    font-size: 18px;
  }
}



@media screen and (max-width: 420px) {
  .w-sm-100 {
    width: 100%;
  }

  h1 {
    font-size: 25px;
    font-weight: 600px;
  }

  h2 {
    font-size: 20px;
    font-weight: 600px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
  }

  /* HEADER */
  header {
    top: 0;
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 1;
  }

  .navbar {
    width: 420px;
    max-width: 100%;
    margin: 0 auto;
    line-height: 80px;
  }

  .navbar-col-left {
    position: relative;
  }

  .navbar .fas.fa-bars {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translate(-11%, -63%);
    font-size: 130%;
  }

  .img-logo {
    margin-top: 5px;
  }

  .navbar-col-right {
    display: none;
  }

  /* JUMBOTRON */
  #jumbotron {
    padding: 10px;
    height: 350px;
  }

  .wrapper {
    max-width: 80%;
    max-height: 80%;
  }

  #jumbotron .wrapper h4 {
    padding: 10px 0;
  }

  /* PRODUCTS */
  #products .box {
    padding: 20px 10px;
  }

  #products .box a.cta,
  #products .box span.cta {
    font-size: 12px;
  }

  #products .box img {
    width: 115px;
  }

  /* HOW_WORKS */
  #how-works {
    margin-bottom: 30px;
  }

  .how-works-bg {
    height: 200px;
    background-image: url('../img/helbiz-banner.jpg');
    background-size: cover;
    background-position: center;
  }

  #how-works img {
    max-width: 100%;
  }

  #how-works .contents {
    padding-bottom: 30px;
    text-align: center;
    background-color: snow;
  }

  #how-works .col-sx,
  #how-works .col-dx {
    padding-top: 10px;
  }

  #how-works .col-sx {
    text-align: center;
  }

  #how-works .col-sx h3 {
    width: 95px;
    display: inline-block;
    text-align: center;
  }

  #how-works .img-phone {
    position: absolute;
    bottom: 27%;
    left: 50%;
    transform: translateX(-50%);
    width: 190px;
  }

  /* SMART MOBILITY */
  #smart-mobility {
    height: 290px;
    padding: 20px;
  }

  #smart-mobility::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0.4), rgba(0,0,0,0));
  }

  #smart-mobility .col-dx {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }

  #smart-mobility .col-dx * {
    margin: auto;
    max-width: 90%;
    padding: 20px;
  }

  #smart-mobility .col-dx a.cta {
    font-size: 12px;
  }

  /* GET-FIND-ROW */
  #get-find-row .col-sx,
  #get-find-row .col-dx {
    padding: 0;
  }

  #get-find-row .col-sx {
    margin-bottom: 10px;
  }

  #get-find-row .box {
    padding: 30px 0;
    height: 280px;
  }

  #get-find-row .col-dx .box{
    padding-top: 50px;
  }

  /* BIG-BANNER */
  #big-banner {
    height: 250px;
  }

  #big-banner .position-center {
    padding: 45px 75px;
  }

  #big-banner .social-row a:not(:last-child) {
    padding-right: 20px;
  }

  /* FOOTER */
  footer {
    padding-top: 30px;
  }

  /* Footer: MAIN FOOTER */
  footer .w-sm-100 {
    margin-bottom: 20px;
    text-align: center;
  }

  footer .w-sm-100:first-child {
    text-align: center;
  }

  #main-footer h4 {
    padding-bottom: 8px;
  }

  #main-footer li {
    line-height: 180%;
  }

  /* Footer: FOOT-SOCIAL-ROW */
}
